body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    background: url("../assets/main.jpg");
    background-size: cover;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 5em;
    color: white;
}

h1 {
    color: white;
    text-align: center;
}

.search-container {
    margin: 15px;
}

.search-container input {
    font-size: 1.3em;
    border-radius: 0;
    border: none;
    padding: 0.625em;
}

.search-container input:focus {
    outline: none;
    border: 2px groove #393E46;
}

.search-container button {
    font-size: 1.3em;
    border: none;
    background-color: white;
    padding: 0.625em;
}

.search-container button:hover {
    font-size: 1.3em;
    border: none;
    background: grey;
}

h2 {
    text-align: center;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    padding: 10px;
    background-color: #393E46;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    border: 2px solid black;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all 1.5s cubic-bezier(.8, .5, .2, 1.4);
    overflow: hidden;
    position: relative;
}

.card-hover {
    padding: 10px;
    background-color: #393E46;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    border: 2px solid black;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.card-poster {
    width: 17em;
    height: 25em;
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
    transition: all 0s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
    color: #393E46;
}

.data-loading{
    text-align-last: center;
    padding: 50% 0%;
    font-size: 20px;
}

.descriptions .movie-plot {
    text-align: justify;
    word-spacing: -2px;
}

.card-hover:hover .descriptions {
    left: 0px;
    transition: all 1s ease-in-out;
    clip-path: circle(75%);
}

.card-hover:hover {
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
    transform: scale(.97);
}

.card-hover:hover img {
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}

@media screen and (max-width: 1000px) {
    body {
        max-width: 100%;
        font-size: 10px;
    }

    .navbar {
        height: 6em;
    }
}

@media screen and (max-width: 700px) {
    body {
        max-width: 100%;
        font-size: 9px;
    }

    .navbar {
        height: 6em;
    }
}

@media screen and (max-width: 400px) {
    body {
        max-width: 100%;
        font-size: 8px;
    }
}